# Node modules
node_modules/

# Environment files
.env
.env.local
.env.*.local

# Cypress output
cypress/videos/
cypress/screenshots/
cypress/reports/
cypress/logs/

# Allure reports
allure-results/
allure-report/

# Mochawesome reports
mochawesome-report/
mochawesome.json

# Cypress config cache
cypress/.cache/

# VSCode settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build artifacts
dist/
build/
coverage/
*.log

# Temporary or backup files
*.tmp
*.bak
*.swp

# GitHub Actions cache and generated artifacts
.github/workflows/*-report.yml
!/.github/workflows/main.yml  # дозволяємо основний pipeline

# Ignore generated documentation or exported results
/report/
